body {
    margin: 0;
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
}

.heading {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.heading::before {
    content: "";

    width: 50px;
    height: 50px;

    background-image: url("https://cdn-icons-png.flaticon.com/128/1762/1762160.png");
    background-size: contain;
    background-repeat: no-repeat;
}

main {
    width: min(900px, 90%);
    margin: 40px auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

button {
    width: 140px;
    height: 140px;

    border: none;
    border-radius: 16px;

    font-size: 2rem;
    font-weight: bold;
    color: white;

    cursor: pointer;

    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

    transition:
        transform 0.15s ease,
        box-shadow 0.15s ease;
}

button:hover {
    transform: translateY(-3px);
    transform: scale(1.05);
    filter: brightness(1.4);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.2),
        0 8px 20px rgba(0, 0, 0, 0.4);
}

button:active {
    transform: scale(0.95);
}